In [5]:
# import the libraries

import pandas as pd
import numpy as np

In [6]:
# open a desired .csv file in a np.ndarray

data = pd.read_csv("//Users//mathieujuttet//Travail//4-M2 Data Science//3-P1//4-Systems for BD//Project//dataset_1_no_index.csv", delimiter=',')
frameddata = np.array(data) #,'CustomerId','CustomerName','ProductId','ProductName','ProductPrice','PurchaseId'])
print(frameddata)

[[2995 'Brent Blair' 83 ... 'Dignissim Tempor Corp.' 2226.13 1]
 [3957 'Upton Matthews' 34 ... 'Cursus Purus Nullam Company' 3887.78 2]
 [6115 'Edward Moon' 66 ... 'Et Corp.' 2571.88 3]
 ...
 [5946 'Chester Edwards' 89 ... 'Lacus Aliquam Rutrum Corporation'
  2301.61 79633]
 [5946 'Chester Edwards' 89 ... 'Pharetra LLP' 2127.54 79633]
 [274 'Jason James' 44 ... 'Nec Euismod Associates' 596.18 79634]]

In [7]:
# veryfying the size of the data

frameddata.shape

(210010, 7)

In [8]:
# sorting the data according to the desired column

sorteddata = frameddata[np.argsort(frameddata[:, 5])] 
print(sorteddata)

[[5002 'Akeem David' 65 ... 'Vivamus Associates' 0.39 73544]
 [9592 'Malcolm Mcconnell' 79 ... 'Vivamus Associates' 0.39 7204]
 [7054 'Cooper Ballard' 55 ... 'Vivamus Associates' 0.39 61006]
 ...
 [307 'Francis Gentry' 49 ... 'Libero Integer In Incorporated' 4999.45
  26150]
 [7986 'Ignatius Merrill' 19 ... 'Libero Integer In Incorporated' 4999.45
  61520]
 [2902 'Theodore Valencia' 80 ... 'Libero Integer In Incorporated'
  4999.45 47135]]

In [27]:
# exporting back the data as a csv file

pd.DataFrame(sorteddata).to_csv("//Users//mathieujuttet//Desktop//sorteddata.csv",index=False, header=False)